.product-regular-price {
    display: inline-block;
    text-decoration: line-through;
}

.product-sale-price {
    display: inline-block;
}

.cart-totals {
    height: 50%;
}

.product-image {
    width: 100%;
}