{% extends "base.html" %} {% block content %}
<div class="section">
  <div class="container mx-auto pt-4 px-5">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul class="flex">
        <li class="mx-2 font-bold">
          <a href="{% url 'home' %}">
            <span class="icon is-small">
              <i class="fas fa-home" aria-hidden="true"></i>
            </span>
            Home
          </a>
        </li>
        {% if request.GET.category %}
        <li><span class="mx-2">/</span></li>
        <li class="is-active"><a>{{ request.GET.category | title }}</a></li>
        {% else %}
        <li><span class="mx-2">/</span></li>
        <li class="is-active mx-2">
          <a href="{% url 'products:list' %}">Shop</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  {% include "./components/product_grid.html" %}
</div>

{% endblock %}
