{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
    <!-- component -->
    <div class="bg-grey-lighter min-h-screen flex flex-col">
      <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
          <h1 class="mb-8 text-3xl text-center">Sign up</h1>

          <!-- Signup Form -->
          <form action="." method="post">

            {% csrf_token %}

            {% render_field form.name class='block border border-grey-light w-full p-3 rounded mb-4' placeholder="Your Name" %}

            {% render_field form.email class='block border border-grey-light w-full p-3 rounded mb-4' %}

            {% render_field form.password1 class='block border border-grey-light w-full p-3 rounded mb-4' %}
            
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="w-full text-center py-3 rounded bg-green-400 text-black hover:bg-green-600 focus:outline-none my-1">
              Create Account
            </button>
          </form>
    
          <div class="text-center text-sm text-grey-dark mt-4">
            By signing up, you agree to the
            <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
              Terms of Service
            </a> and
            <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
              Privacy Policy
            </a>
          </div>
        </div>
    
        <div class="text-grey-dark mt-6">
          Already have an account?
          <a class="no-underline border-b border-blue text-blue" href="{{ login_url }}">
            Log in
          </a>.
        </div>
      </div>
    </div>

    {% endblock content %}