{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}EShop{% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>    
    {% block head_tags %}
    {% endblock %}
</head>
<body>
    <!-- Navbar -->
    {% include "components/navbar.html" %}

    <main class="container">
        <!-- Breadcrumbs -->

        <!-- Main Body -->
        {% block content %}
        {% endblock content %}
    </main>
    

    {% block js %}
    {% endblock %}
</body>
</html>