{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EShop - {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    {% block head_tags %} {% endblock %}
</head>
<body class="bg-gray-100">

    {% block body %}
    {% endblock %}

    <!-- Global Scripts -->
    <script src="{% static 'javascript/app.js' %}"></script>

    <!-- Page Specific Scripts -->
    {% block javascript %}
    {% endblock %}
</body>
</html>