<tr>
    <td>
        <figure class="image is-128x128">
            <img src="/media/assets/product-placeholder.jpeg" alt="">
        </figure>
    </td>
    <td>
        <a href="{% url 'products:detail' product.id %}" class="subtitle">{{ product.title }}</a>
    </td>
    <td>
        <p>{{ item.quantity }}</p>
    </td>
    <td>
        {{ item.price }}
    </td>
    <td>
        <form action="{% url 'cart:remove' product.id %}" method="post">
            {% csrf_token %}
            <button><i class="fas fa-trash-alt"></i></button>
        </form>
    </td>
</tr>

