{% load widget_tweaks %}

<div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">

  {% comment %} Product details {% endcomment %}
  <div class="flex w-2/5">
    <!-- product -->
    <div class="w-20">
      <img
        class="h-24"
        src="{{ product.first_image.image.url }}"
        alt=""
      />
    </div>
    <div class="flex flex-col justify-between ml-4 flex-grow">
      <a href="{% url 'products:detail' product.id %}">
        <span class="font-bold text-sm">{{ product.title }}</span>
      </a>
      
      <form action="{% url 'cart:remove' product.id %}" method="post">
        {% csrf_token %}
        <button class="text-gray-500 hover:text-red-500 text-xs font-semibold">
          Remove
        </button>
      </form>
    </div>
  </div>


  <div class="flex justify-center w-1/5">

    {% comment %} <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
      <path
        d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
      />
    </svg> {% endcomment %}
    <form action="{% url 'cart:add' product.id %}" method="post">
      {% csrf_token %}
      {% render_field item.update_quantity_form.quantity class='mr-2 rounded border border-gray-700 focus:ring-1 focus:ring-indigo-900 bg-transparent appearance-none py-2 focus:outline-none focus:border-indigo-500 text-gray-900 pl-3 pr-10'%} 
      {% render_field item.update_quantity_form.override %}
      <button>Update</button>
    </form>

    {% comment %} <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
      <path
        d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
      />
    </svg> {% endcomment %}
  </div>

  <span class="text-center w-1/5 font-semibold text-sm"
    >₹{{ item.price }}</span
  >
  <span class="text-center w-1/5 font-semibold text-sm"
    >₹{{ item.total_price }}</span
  >
  
</div>
