{% extends "base.html" %}

{% block content %}
    <div class="container mx-auto mt-10">
        <div class="flex shadow-md m-10 p-10">
            <div class="order_form">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ checkout_form.as_p }}
                    <button>Submit</button>
                </form>
            </div>
            <div class="summary">

            </div>
            
        </div>
    </div>
{% endblock content %}
